<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="false" doStaticCompression="true" />
        <staticContent>
            <remove fileExtension=".iso" />
            <mimeMap fileExtension=".iso" mimeType="text/plain" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/manifest+json" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="cgi-rbcatalogo" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\inetpub\wwwroot\rbcatalogo\cgi\www.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=edge" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="default.asp" />
            </files>
        </defaultDocument>
      <security>
        <requestFiltering>
         <!-- Tamanho max. do ISO em bytes, Normal = 30000000 ou 28Mb-->
          <requestLimits maxAllowedContentLength="41943040" />
            <fileExtensions>
                <add fileExtension=".aspx" allowed="false" />
                <add fileExtension=".php" allowed="false" />
            </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  <location path="rbcatalogo/upload/isos">
    <system.web>
        <!-- Tamanho max do ISO em kilobytes, Normal = 4096 ou 4MB-->
        <httpRuntime maxRequestLength="40960" executionTimeout="3600" />
    </system.web>
  </location>
</configuration>
