<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="false" doStaticCompression="true" />
        <staticContent>
            <mimeMap fileExtension=".iso" mimeType="text/plain" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="cgi-rbcatalogo" path="*.exe" verb="*" modules="CgiModule" 
            scriptProcessor="C:\inetpub\wwwroot\rbcatalogo\cgi\www.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=edge" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="default.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
